html {
  height: 100%;
  background: radial-gradient(circle at bottom left, #2193B0, #6DD5ED);
  background-attachment: fixed;
}

body {
  margin: 0;
}

/* NAV */

nav {
  margin: 30px 10px;
  height: 50px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  color: white;
  opacity: 0.9;
  font-size: 0;
  text-align: center;
  margin-bottom: 50px;
  overflow: hidden;
  /* border-radius: 5px; */
}

nav span {
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}

nav span.lg {
  font-size: 40px;
  font-weight: 700;
}

nav span.sm {
  font-size: 40px;
  font-weight: 400;

  --desired-width: 0px;
  overflow-x: hidden;
  transition-property: width, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  opacity: 0;
}

nav:hover .sm {
  width: calc(var(--desired-width) * 1.2) !important;
  opacity: 1;
}


/* BOX */

div.box-container {
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  /*align-content: center;*/
}

a.box {
  vertical-align: middle;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  padding: 10px;
  min-width: max-content;
  margin: 0 5px 10px 5px;
  height: 35px;
  width: 100%;
  flex: 1;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition-property: background-color, transform;
  transition-duration: 0.2s;
  transform: rotateZ(0rad);

  text-decoration: none;
  color: black;
}

a.box:hover {
  transform: translateY(5px);
  background-color: #fff;
  transform: rotateZ(0.05rad);
}